/* Fonts */
:root {
  --default-font: "Open Sans", serif;
  --heading-font: 'Switzer', sans-serif;
  --nav-font: "Open Sans", serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #f6f6f6;
  /* Background color for the entire website, including individual sections */
  --default-color: #1a1f24;
  /* Default color used for the majority of the text content across the entire website */
  --heading-color: #485664;
  /* Color for headings, subheadings and title throughout the website */
  --accent-color: #00173f;
  /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff;
  /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff;
  /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #485664;
  /* The default color of the main navmenu links */
  --nav-hover-color: #0ea2bd;
  /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff;
  /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff;
  /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #485664;
  /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #0ea2bd;
  /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
  --background-color: #f2f2f2;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #3a4753;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #4f6171;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

.container {
  max-width: 1100px;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* Pulsating Play Button
------------------------------*/
.pulsating-play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(var(--accent-color) 50%, color-mix(in srgb, var(--accent-color), transparent 75%) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}

.pulsating-play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-play-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid color-mix(in srgb, var(--accent-color), transparent 30%);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.pulsating-play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.pulsating-play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

.pulsating-play-btn:hover:after {
  border-left: 15px solid var(--accent-color);
  transform: scale(20);
}

@keyframes pulsate-play-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}


/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/

.green-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 250px;
  height: 100px;
  background-color: var(--accent-color);
  transform: rotate(180deg);
  z-index: 999;
  clip-path: polygon(0 0, 100% 0, 82% 100%, 0 100%);

}

.phone {
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  z-index: 1000;
}

.phone {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.125rem;
  transition: all 0.3s ease;
}

.phone img {
  width: 24px;
  height: 24px;
  transition: transform 0.4s ease;
  /* Smooth rotation */
}

/* Hover effect on phone details */
.phone:hover img {
  transform: rotate(-20deg);
  /* Rotate 90 degrees to the left (counterclockwise) */
}

.header {
  position: relative;
  overflow: hidden;

  color: var(--default-color);
  background-color: #fff;
  padding: 10px 0;
  transition: all 0.5s;
  z-index: 997;
  height: 80px;
  position: relative;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  margin-left: -15px;
  max-height: 80px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  color: var(--heading-color);
}

.header .logo span {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 34px;
  margin-left: 2px;
}

.header .btn-getstarted,
.header .btn-getstarted:focus {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-size: 14px;
  padding: 8px 26px;
  margin: 0;
  border-radius: 4px;
  transition: 0.3s;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
}

@media (max-width: 340px) {
  .header .logo img {
    width: 120px !important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .green-overlay {  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);

    width: 340px !important;

  }
}
@media (max-width: 1200px) {
  .green-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 390px;
    height: 100px;
    transform: rotate(180deg);
    z-index: 999;
  }

  .header .logo img {
    max-height: 60px;
    margin-right: 8px;
  }


  .header .logo {
    order: 1;
  }

  .header .btn-getstarted {
    order: 2;
    margin: 0 15px 0 0;
    padding: 6px 20px;
  }

  .header .navmenu {
    order: 3;
  }
}

.scrolled .header {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
@media (min-width: 1200px) {

  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu>ul>li {
    white-space: nowrap;
    padding: 15px 14px;
  }

  .navmenu>ul>li:last-child {
    padding-right: 0;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--accent-color);
    font-size: 15px;
    padding: 0 2px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--accent-color);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navmenu a:hover:before,
  .navmenu li:hover>a:before,
  .navmenu .active:before {
    visibility: visible;
    width: 100%;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--accent-color);
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
}

@media (min-width: 768px) and (max-width:1200px) {
  .phone {
    position: absolute;
    top: 30px;
    right: 9%;
    color: white;
    z-index: 1000;
  }
}

/* Mobile Navigation */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: #Fff;
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--accent-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {border: 1px solid #fff;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/* =======================arrow animation======================= */
.right-arrow {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: #333;
}

.right-arrow img {
  transition: transform 0.5s ease;
  margin-left: 5px;
  /* Optional: to space the arrow from the text */
}

.right-arrow:hover img {
  transform: translate(5px, -5px);
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .green-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 100px;
    background-color: var(--accent-color);
    transform: rotate(180deg);
    z-index: 999;
  }

  .phone {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    z-index: 1000;
  }

  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  --background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 25px 0;
  position: relative;
}

.page-title h1 {
  font-size: 28px;
  font-weight: 300;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 15px;
}

.section-title p {
  margin-bottom: 0;
}


/* ==========================================hover button1===================================== */

.hover-button {
  color: #1d1d1d;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  text-align: center;
}

.hover-button::before,
.hover-button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 60px;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.hover-button::before {
  left: -10px;
  background: var(--accent-color);
}

.hover-button::after {
  right: -10px;
  background: var(--accent-color);
}

.hover-button:hover::before,
.hover-button:hover::after {
  width: 58%;
}

.hover-button:hover a {
  color: #fff !important;
  transition: 0.3s;
}

.hover-button:hover {
  color: #fff !important;
}

.hover-button a {
  text-align: center;
  margin: auto;
  display: block;
  color: #1d1d1d !important;
  font-size: 18px;
  transition: all 0.3s ease-in;
}

/* ==========================================hover button2===================================== */

.hover-button2 {
  color: #fff;
  background-color: var(--accent-color);
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  text-align: center;
}

.hover-button2::before,
.hover-button2::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 80px;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.hover-button2::before {
  left: -10px;
  background: #fff;
}

.hover-button2::after {
  right: -10px;
  background: #fff;
}

.hover-button2:hover::before,
.hover-button2:hover::after {
  width: 58%;
}

.hover-button2:hover a {
  color: #fff;
  transition: 0.3s;
}

.hover-button2 a {
  text-align: center;
  margin: auto;
  display: block;
  color: #000;
  font-size: 18px;
  transition: all 0.3s ease-in;
}

.hover-button2:hover {
  color: #1d1d1d;
}

/* ----------------------------------------------------------- */
/* Sweep To Right */
.hvr-sweep-to-right {
  display: flow-root;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1); /* 10% opacity */
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #fff !important;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #333 !important;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--accent-color);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: #333 !important;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}


/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--accent-color);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.banner {
  background-color: #f6f6f6;
  position: relative;
}
.title-top {text-transform: uppercase;
  margin-bottom: 3%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.title-dot {
  width: 8px;
  height: 8px;
  background-color: var(--accent-color);
}

.hero-title {
  color: #333;
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 5%;
}

.hero-subtitle {
  padding-right: 30%;
  font-weight: 300 !important;
  font-size: 1.2rem;
  color: #1d1d1dcc;
  margin-bottom: 30px;
}

.banner .btn {
  border-radius: 0;
}

.trust-badge {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 600;
}

.hero-section .img-fluid {
  width: 100%;
}

.banner {
  overflow: hidden;
}

.banner-text {
  margin-top: 3%;
}

/* Responsive Media Query for max-width 991px */
@media (min-width: 1200px) {
  .banner-text {
    margin-top: 4% !important;
  }

  .hero-subtitle {
    margin: 8% 0 !important;
  }

  .banner {
    height: 64vh !important;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 55vh;
  }

  .hero-section .img-fluid {
    position: absolute;
    top: 0;
    right: 0;
    height: 90vh;object-fit: cover;
    width: 50%;
  }

  .banner-text {
    margin-top: 10%;
  }

}

@media (min-width: 1500px) {
  .banner {
    height: 70vh !important;
  }

  .banner-text {
    margin-top: 15% !important;
  }

  .hero-section .img-fluid {
    width: 45%;
  }

}

@media (min-width: 1200px) and (max-width:1400px) {
  .banner {
    height: 70vh !important;
  }
}

@media (max-width: 991px) {
  .banner {
    height: auto;
  }

  .hero-subtitle {
    padding-right: 0 !important;
  }

  .banner .container {
    width: 100% !important;
    max-width: 100%;
    padding: 0;
  }

  .banner-hero {
    display: flex;
    flex-direction: column-reverse;
    /* Switch the order */
    align-items: center;
    text-align: center;
  }

  .hero-title {
    font-size: 2rem;
    /* Adjusting font size for smaller screens */
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .banner .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .hero-section .img-fluid {
    margin-bottom: 20px;
  }

  .banner .banner-text {
    padding: 40px 0;
    max-width: 80%;
    /* Adjust the image size */
  }

  .banner .col-md-6,
  .banner .col-md-6 {
    width: 100%;
  }
}



/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/

.swiper-container {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.service-section .card {
  width: 100%;
  max-width: 350px;
  /* Adjust based on your design */
  margin: 0 auto;
}

.service-card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-10px);
}

.hvr-underline-from-left::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hvr-underline-from-left:hover::after {
  transform: scaleX(1);
}

/* Swiper Navigation Button Styles */
.swiper-button-next,
.swiper-button-prev {display: none;
  width: 20px;
  /* Adjust button width */
  height: 20px;
  /* Adjust button height */
  color: var(--accent-color);
  /* Change color as needed */
}

  /* Positioning */
  .swiper-button-next {
    right: 0px;
    /* Place the next button 20px from the right */
  }
  
  .swiper-button-prev {
    left: 0px;
    /* Place the prev button 20px from the left */
  }
  @media (min-width:1200px) {
    .swiper-button-next {
    right: -30px !important;
    /* Place the next button 20px from the right */
  }
  
  .swiper-button-prev {
    left: -30px;
    /* Place the prev button 20px from the left */
  }
  }  
/* Adjust the icon size inside the buttons */
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
  /* Adjust font size of arrow icons */

}

/* Line pagination style */
.swiper-pagination {
  position: relative;
  bottom: 0px;
  text-align: center;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 10px;
  /* Line width for pagination bullet */
  height: 6px;
  /* Line height for pagination bullet */
  background-color: #333;
  /* Color of the inactive bullets */
  border-radius: 0;
  /* Remove rounded corners */
  opacity: 0.5;
  /* Inactive bullet opacity */
}

/* Active bullet style */
.swiper-pagination-bullet-active {
  background-color: var(--accent-color);
  /* Color of the active bullet */
  opacity: 1;
  /* Full opacity for the active bullet */
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .about-img {
  position: relative;
  margin: 60px 0 0 60px;
}

.about .tab-content img {
  width: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.about .about-img:before {
  position: absolute;
  inset: -60px 0 0 -60px;
  content: "";
  background: url("../img/about-bg.png") top left;
  background-repeat: no-repeat;
  z-index: 1;
}

.about .about-img img {
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .about .about-img {
    margin: 30px 0 0 30px;
  }

  .about .about-img:before {
    inset: -30px 0 0 -30px;
  }
}

.about h3 {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .about h3 {
    font-size: 28px;
  }
}

.about .nav-pills {
  border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
}

.about .nav-pills li+li {
  margin-right: 30px;
}

.about .nav-link {
  background: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--default-color);
  padding: 12px 0;
  margin-bottom: -2px;
  border-radius: 0;
}

.about .nav-link.active,
.about .nav-link:hover {
  color: var(--accent-color);
  background: none;
  border-bottom: 3px solid var(--accent-color);
}

@media (max-width: 575px) {
  .about .nav-link {
    font-size: 16px;
  }
}

.about .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: var(--default-color);
}

.about .tab-content i {
  font-size: 22px;
  line-height: 0;
  margin-right: 8px;
  color: var(--accent-color);
}


/* ========================== */

.tab-content img {
  width: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}


/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.call-to-action {
  padding: 0;
}

.call-to-action .container {
  padding: 80px;
  border-radius: 15px;
}

@media (max-width: 992px) {
  .call-to-action .container {
    padding: 60px;
  }
}

.call-to-action .content h3 {
  font-size: 36px;
  font-weight: 300;
}


.call-to-action .content p {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  font-weight: 300;
  font-size: 18px;
}

.call-to-action .content .cta-btn {
  color: var(--contrast-color);
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 10px;
  background: var(--accent-color);
}

.call-to-action .content .cta-btn:hover {
  background: color-mix(in srgb, var(--accent-color) 90%, black 15%);
}

.call-to-action li {
  display: flex;
}
.call-to-action h5{font-weight: 300;}

.call-to-action i {
  margin-right: 5px;
}

.call-to-action .img {
  position: relative;
}
@media (min-width-1200px) {
  .call-to-action .img-fluid {margin: auto;display: block;
    max-width: 350px !important;
  }
}
.call-to-action .img:before {
  content: "";
  position: absolute;
  inset: 0;
  background: color-mix(in srgb, var(--contrast-color), transparent 20%);
  border-radius: 15px;
  transform: rotate(6deg);
  z-index: 2;
}

.call-to-action .img:after {
  content: "";
  position: absolute;
  inset: 0;
  background: color-mix(in srgb, var(--default-color), transparent 95%);
  border-radius: 15px;
  transform: rotate(12deg);
  z-index: 1;
}

.call-to-action .img img {
  position: relative;
  z-index: 3;
  border-radius: 15px;
  z-index: 3;
}


/* =============================================== */

/*--------------------------------------------------------------
# Onfocus Section
--------------------------------------------------------------*/
.onfocus {
  background-color: #fff;
  margin: 50px 0;
  padding: 0;
}

.onfocus .video-play {
  min-height: 400px;
  background: linear-gradient(color-mix(in srgb, var(--background-color), transparent 90%), color-mix(in srgb, var(--background-color), transparent 75%)), url("../img/onfocus-video-bg.jpg") center center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);

}

.onfocus .content {
  padding: 40px;
}

@media (min-width: 768px) {
  .onfocus .content {
    padding: 80px;
  }
}

.onfocus .content h3 {
  font-weight: 300;
  font-size: 35px;
}

.onfocus .content h5 {
  font-weight: 300;
}

.onfocus .content ul {
  list-style: none;
  padding: 0;
}

.onfocus .content ul li {
  display: flex;
  padding-bottom: 10px;
}

.onfocus .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #333;
}

.onfocus .content p:last-child {
  margin-bottom: 0;
}

.onfocus .content .read-more {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px 24px;
  border-radius: 5px;
  transition: 0.3s;
  display: -nline-flex;
  align-items: center;
  justify-content: center;
  color: var(--contrast-color);
  background: var(--accent-color);
}

.onfocus .content .read-more i {
  font-size: 18px;
  margin-left: 5px;
  line-height: 0;
  transition: 0.3s;
}

.onfocus .content .read-more:hover {
  background: color-mix(in srgb, var(--accent-color) 90%, black 15%);
  padding-right: 19px;
}

.onfocus .content .read-more:hover i {
  margin-left: 10px;
}

.onfocus .pulsating-play-btn {
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
}

/*--------------------------------------------------------------
# Service Details Section
--------------------------------------------------------------*/
.service-details .services-list {
  background-color: var(--surface-color);
  padding: 10px 30px;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  margin-bottom: 20px;
}

.service-details .services-list a {
  display: block;
  line-height: 1;
  padding: 8px 0 8px 15px;
  border-left: 3px solid color-mix(in srgb, #e0e0e0, transparent 70%);
  margin: 5px 0;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  transition: 0.3s;
}

.service-details .services-list a.active {
  color: #fff;
  font-weight: 700;
  border-color: var(--accent-color);
}

.service-details .services-list a:hover {
  background-color: #e0e0e0;
}

.service-details .services-img {
  margin-bottom: 20px;
}

.service-details h3 {
  font-size: 26px;
  font-weight: 700;
}

.service-details h4 {
  font-size: 20px;
  font-weight: 700;
}

.service-details p {
  font-size: 15px;
}

.service-details ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.service-details ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.service-details ul i {
  font-size: 20px;
  margin-right: 8px;
  color: var(--accent-color);
}

@media (max-width:991px) {
  .service-details .services-list {
    flex-direction: row !important;
    gap: 20px;
    justify-content: left;
  }

  .service-details .services-list a {
    padding: 8px 15px;
  }
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features .nav-tabs {
  border: 0;
}

.features .nav-link {
  background-color: var(--surface-color);
  color: var(--color-secondary);
  border: 0;
  padding: 10px 20px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0s;
  cursor: pointer;
  height: 100%;border-radius: 10px;
}

.features .nav-link i {
  font-size: 32px;
  line-height: 0;
}

.features .nav-link h4 {
  font-size: 18px;
  font-weight: 400;
  margin:  0;
}

.features .nav-link:hover {
  color: var(--accent-color);
}

.features .nav-link:hover,
.features .nav-link.active {
  transition: 0.3s;
  background: var(--accent-color);
  color: var(--contrast-color) !important;
  border-color: var(--accent-color);
}

.features .nav-link:hover h4,
.features .nav-link.active h4 {
  color: var(--contrast-color);
}

.features .nav-link:hover i,
.features .nav-link.active i {
  color: var(--contrast-color) !important;
}

.features .tab-content {
  margin-top: 30px;
}

.features .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.features .tab-pane h3 {
  font-weight: 600;
  font-size: 28px;
}

.features .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features .tab-pane ul li {
  padding-bottom: 10px;
}

.features .tab-pane ul i {
  font-size: 24px;
  margin-right: 4px;
  color: var(--accent-color);
}

.features .tab-pane p:last-child {
  margin-bottom: 0;
}
